body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
  }
  
li:hover {
    /* You will get an effect when the mouse pointer is over the Word in the part */
    /* It could be also in paragraph: for now list */
    
    background-color: #88ff88;
    /* For now, it will be a green highlighter when you hover the word with the mouse pointer */

}
  
a:focus {
    /* When something is focus within the page, it will do effects */
    /* Usually you can see by clicking tab button */

    font-weight: bold;
    /* In this case, it will be change the text into bold text */
    
}

a{
    text-decoration: none;
    /* This will remove the underline of the link */

}

.advanced{
    
    border-radius: 50%; 
    /* This allows to change the shape into a circle: 50% is the max */
    /* You can set as px valus, but it will not be as circle as be(circular edges) */
    
    width: 300px;
    height: 300px;
    margin: 20px;
    /* This will set up the size of the circle */

    background-color: darkorchid;
    /* This will change the color of the circle */
   
    box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
    /* The first value: x offset (How far to the right direction of the shadow) */
    /* The second value: y offset (How far to the down direction of the shadow) */
    /* The third value: amount of blur (in terms of radius) As the px value increases, it gets more blur */
    /* The last value: the color of the shadow */
    /* The first and second values can be negative, which will go to the opposite direction */
    /* The third value range is 0 to infinte: how close to the background color. */
    /* You can have multiple shadows on a single object. Just need to declare another statement */ 

    cursor: pointer;
    /* This will change the mouse pointer to indicate to click it */

}