body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
  }
  
li:hover {
    /* You will get an effect when the mouse pointer is over the Word in the part */
    /* It could be also in paragraph: for now list */
    
    background-color: #88ff88;
    /* For now, it will be a green highlighter when you hover the word with the mouse pointer */

}
  
a:focus {
    /* When something is focus within the page, it will do effects */
    /* Usually you can see by clicking tab button */

    font-weight: bold;
    /* In this case, it will be change the text into bold text */
    
}

a{
    text-decoration: none;
    /* This will remove the underline of the link */

}

.advanced{
    
    border-radius: 50%; 
    /* This allows to change the shape into a circle */
    
    width: 300px;
    height: 300px;
    margin: 20px;
    /* This will set up the size of the circle */

    background-color: darkorchid;
    /* This will change the color of the circle */
   
    box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
    /*  */

    cursor: pointer;
    /* This will change the mouse pointer to indicate to click it */

}