{{!--This is how to make comments --}}
{{!-- {{these are handlebars that replace any contant to that part}}--}}
<section class="photo-card">
  <div class="img-container">
    <img class="person-photo-img" src="{{url}}" />
  </div>
  <div class="caption">
    {{caption}}
  </div>
</section>
{{!-- This is the handlebar for the photocard --}}
{{!-- The only difference is the caption and url for a place holder -- }}
{{!-- In order to use this, you need to have a handlebar package --}}
{{!-- Check out handlebarsjs.com to install the libraries --}}
