body {

    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 200;
    font-size: 48px;
  
  }
  
  .container {

    min-height: 400px;
    margin: 5px;
    padding: 10px;
    border: 4px solid black;

    display: flex;
    /* This will allow to change that the outer box will  be flex container */

    flex-direction: row-reverse;
    /* In order to change the default settings of flex, we change from row to column or reverse */

    flex-wrap: wrap;
    /* When the space is limited, then it will recreate whatever flex-direction we set up as a new set up */

    align-items: center;
    /* This will set up the flexs contents in the center cross axis */
    /* There is more commmands for this align-items: */
    
    justify-content: space-between;
    /* Unlike the align-items, this will follow respect to main axis */ 
    /* If we set up as something-reverse, it will switch the end to the left rather than to the right */
    /* space-around will evenlly space out between flex contents */

    /* For a more in-depth tutorial: find out this website: https://flexboxfroggy.com/ */
  
  }
  
  .box {

    background-color: #cf142b;
    max-width: 200px;
    min-width: 100px; 
    height: 200px;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid black;

    /* By default, there will be two axis: main for horizontal and corss for vertical */
    /* Another default setting is that starts are in left and top while end is right and down */
    /* We can change these settings values by adding code into it */

    flex: 1 200px;
    /* This setup as if there is space for content, then it will expend more than 200px, but the min is 200px */
    /* Need to comment the max and min-width values to see this effect */
    /* The numbe 1 is the growth factor as the website view point increases */
  
  }

  .bigger{

    flex-grow: 6;
    /* Demonstraction for growth factor example */

  }

  .nested-flex{

    display: flex;
    /* This will setup the flex inside a flex */

  }

  /* https://caniuse.com/ is a website to tell if the website supports a certain features */